<footer>
    <div class="container">
        
        <ul class="site-footer-links right">
            <li><a href="getstarted">{% trans "Get Started" %}</a></li>
            <li><a href="developers">{% trans "Developers" %}</a></li>
        </ul>

        <ul class="site-footer-links">
            <li>{% trans "&copy; 2014" %}</li>
            <li><a href="terms">{% trans "Terms" %}</a></li>
            <li><a href="privacy">{% trans "Privacy" %}</a></li>
            <li><a href="contact">{% trans "Contact" %}</a></li>
            <li>{% include '_change-language.html' %}</li>
        </ul>
        
    </div>
</footer>