{% extends "public/layout.html" %}

{% block content %}
<div class="container">
	<div class="jumbotron">
		<h1>Hi there!</h1>
		<p>You're living in a community household? We've got the perfect shopping app for you!</p>
		<p><a href="signup" class="btn btn-primary btn-lg" role="button">Sign up now</a></p>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<h3>How does it work?</h3>
			<p>
				{{ config['product_name'] }} is a web app that enables you and your friends living in the same household to keep track of your shopping needs. 
				Simply add an article to the list and everybody will see it.
			</p>
		</div>
		<div class="col-md-4">
			<h3>Benefits</h3>
			<ul>
				<li>Easily add articles to your shopping list</li>
				<li>Swipe them off the list when bought</li>
				<li>Get notified of other's actions</li>
				<li>See what's happened in the past</li>
				<li>View statistics of orders and purchases</li>
			</ul>
		</div>
		<div class="col-md-4">
			<h3>Support</h3>
			<p>
				{{ config['product_name'] }} supports all devices that exist and have a browser. 
			</p>
			<ul class="list-group">
				<li class="list-group-item"><i class="fa fa-android fa-2x"></i>&nbsp; Android</li>
				<li class="list-group-item"><i class="fa fa-apple fa-2x"></i>&nbsp; iOS</li>
				<li class="list-group-item"><i class="fa fa-windows fa-2x"></i>&nbsp; Windows Phone</li>
			</ul>
		</div>
	</div>
	
</div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="media/js/public/home.js"></script>
{% endblock %}