<!DOCTYPE html>
<html>
<head>
{% block head %}
<meta charset="utf-8">
<title>{% block title %}Shopping List{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link href="/media/css/public.css" rel="stylesheet">
{% endblock %}
</head>
<body>

{% include 'public/_navigation.html' %}

{% block content %}{% endblock %}

{% include 'public/_footer.html' %}

{% block javascript %}
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="/bower_components/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
<script src="/bower_components/jquery.cookie/jquery.cookie.js"></script>
<script src="/media/js/change-language.js"></script>
{% endblock %}
</body>
</html>