{% extends "public/layout.html" %}

{% block title %}
    {% set page = parent() %}
    {% trans %}Privacy Policy - {{ page }}{% endtrans %}
{% endblock %}

{% block content %}
<div class="container">
	<h1>Privacy Policy</h1>
    
    <h2>General Information</h2>
    <p>
        We collect the e-mail addresses of those who communicate with us via e-mail, aggregate information on what pages consumers access or visit, and information volunteered by the consumer (such as survey information and/or site registrations). The information we collect is used to improve the content of our Web pages and the quality of our service, and is not shared with or sold to other organizations for commercial purposes, except to provide products or services you've requested, when we have your permission, or under the following circumstances:
    </p>
    <ul>
        <li>It is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of <a href="terms">Terms of Service</a>, or as otherwise required by law.</li>
        <li>We transfer information about you if we are acquired by or merged with another company. In this event, we will notify you before information about you is transferred and becomes subject to a different privacy policy.</li>
    </ul>
</div>
{% endblock %}
