{% extends "public/layout.html" %}

{% block title %}
    {% set page = parent() %}
    {% trans %}Sign Up - {{ page }}{% endtrans %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h1>Sign Up</h1>
            
            <div class="alert alert-danger hide" id="signup-error-message">
                The entered email address already exists in our database.
            </div>
            
            <div class="alert alert-success hide" id="signup-success-message">
                Successfully signed up.<br>
                You can <a href="signin">Sign In</a> now.
            </div>
            
            <form class="form-horizontal" role="form" id="signup-form">
              <div class="form-group">
                <label for="register-name" class="col-sm-5 control-label">Name</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="register-name" name="name" placeholder="Enter name" required autofocus pattern=".{3,}" title="3 characters minimum">
                </div>
              </div>
              <div class="form-group">
                <label for="register-email" class="col-sm-5 control-label">Email address</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="register-email" name="email" placeholder="Enter email" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
                </div>
              </div>
              <div class="form-group">
                <label for="register-password" class="col-sm-5 control-label">Password</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" id="register-password" name="password" placeholder="Password" required pattern=".{3,}" title="3 characters mininum">
                </div>
              </div>
              <div class="form-group">
                <label for="register-password-repeat" class="col-sm-5 control-label">Repeat Password</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" id="register-password-repeat" name="password-repeat" placeholder="Repeat Password" required title="Password does not match">
                </div>
              </div>
              <div class="form-group">
                  <div class="col-sm-offset-5 col-sm-7">
                      <div class="checkbox">
                          <label>
                              <input type="checkbox" required> I agree to the <a href="/terms" onclick="window.open(this.href); return false;">terms of use</a>.
                          </label>
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-sm-offset-5 col-sm-7">
                      <button type="submit" class="btn btn-default">Submit</button>
                  </div>
              </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
