{% extends "email/layout.html" %}

{% block content %}
<h1><a href="{{ config['site_url'] }}">2buy.io</a> Update</h1>
<p>
    Folgende Aktivitäten haben in Ihrer Gemeinschaft "{{ communityName }}" stattgefunden:
</p>

{% if bought is defined %}
    <b>Gekauft:</b>
    <ul>
        {% for item in bought %}
            <li class="transaction-bought">{{ item['amount'] }}x {{ item['name'] }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if cancelled is defined %}
    <b>Gelöscht:</b>
    <ul>
        {% for item in cancelled %}
            <li class="transaction-cancelled">{{ item['amount'] }}x {{ item['name'] }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if added is defined %}
    <b>Neue Artikel:</b>
    <ul>
        {% for item in added %}
            <li class="transaction-added">{{ item['amount'] }}x {{ item['name'] }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if edited is defined %}
    <b>Geändert:</b>
    <ul>
        {% for item in edited %}
            <li class="transaction-edited">{{ item['amount'] }}x {{ item['name'] }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}