<li class="{% if page == 'app/bills/main' %}active{% endif %}">
    <a href="/app/bills"><span class="glyphicon glyphicon glyphicon-th-list"></span> List</a>
</li>
<li class="{% if page == 'app/bills/history' %}active{% endif %}">
    <a href="/app/bills/history"><span class="glyphicon glyphicon-list"></span> History</a>
</li>
<li class="{% if page == 'app/bills/statistics' %}active{% endif %}">
    <a href="/app/bills/statistics"><span class="glyphicon glyphicon-stats"></span> Statistics</a>
</li>
