{% extends "app/bills/layout.html" %}

{% block title %}
    {% set page = parent() %}
    {% set app_name = block('app_name') %}
    {% trans %}History - {{ app_name }} - {{ page }}{% endtrans %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div id="bill-history" class="col-md-12">
            <div class="text-center administrator">
                <button type="button" class="btn btn-danger community-admin" data-toggle="modal" data-target="#clear-history-dialog">{% trans "Clear History" %}</button>
                <div class="list top-buffer">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
