{% extends "app/bills/layout.html" %}

{% block title %}
{% set page = parent() %}
{% set app_name = block('app_name') %}
{% trans %}Statistics - {{ app_name }} - {{ page }}{% endtrans %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        <div id="bill-statslist" class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Paid sum" %}</div>
                <canvas id="paidChart" style="width: 100%;"></canvas>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Declined sum" %}</div>
                <canvas id="declinedChart" style="width: 100%;"></canvas>
            </div>
        </div>

    </div>
</div>
{% endblock %}
