@import '~material-design-lite/src/_color-definitions';

$color-primary: $palette-grey-500;
$color-primary-dark: $palette-grey-300;
$color-accent: $palette-orange-A200;
/* $color-primary-contrast: $color-light-contrast; */
/* $color-accent-contrast: $color-light-contrast; */
