/**
 * General setup
 */

body {
  margin: 0;
}

/* Disable ugly boxes around images in IE10 */
a img {
  border: 0;
}

.mdl-menu__item a {
  text-decoration: none;
}

::-moz-selection {
  background-color: #6ab344;
  color: #fff;
}

::selection {
  background-color: #6ab344;
  color: #fff;
}
