/**
 * Home page
 */

.buy-home-header {
  position: relative;
  height: 800px;
  width: auto;
  color: #fff;
  text-shadow: 0 0 10px #000;
  background-image: url('../images/home-header.jpg');
  background-color: #f3f3f3;
  background-size: cover;
}

.buy-slogan {
  font-size: 60px;
  padding-top: 160px;
}

.buy-sub-slogan {
  font-size: 21px;
  padding-top: 24px;
}

.buy-sign-in-button {
  margin: 20px;
}
