<li class="{% if page == 'app/shoppinglist/main' %}active{% endif %}">
    <a href="/app/shoppinglist"><span class="glyphicon glyphicon-shopping-cart"></span> List</a>
</li>
<li class="{% if page == 'app/shoppinglist/history' %}active{% endif %}">
    <a href="/app/shoppinglist/history"><span class="glyphicon glyphicon-list"></span> History</a>
</li>
<li class="{% if page == 'app/shoppinglist/statistics' %}active{% endif %}">
    <a href="/app/shoppinglist/statistics"><span class="glyphicon glyphicon-stats"></span> Statistics</a>
</li>
<li class="{% if page == 'app/shoppinglist/products' %}active{% endif %} administrator">
    <a href="/app/shoppinglist/products"><span class="glyphicon glyphicon-th-list"></span> Products</a>
</li>
