<div class="text-center administrator">
    <button type="button" class="btn btn-danger" id="button-clear-history">Verlauf leeren</button>
    <div class="list">     <!--Start Beispieldaten -->
        <div class="transaction" data-id="1"><span class="amount">1</span><span class="product">Tabs</span>gemeldet
            von <span class="reportedBy">David Wiedmer</span>um <span class="reportedDate">2.10.2014 17:06:42</span>gekauft
            von <span class="reportedBy text-success">Sebastian Häni</span>um <span class="reportedDate">6.10.2014 18:35:52</span>
        </div>
        <div class="transaction" data-id="2"><span class="amount">5</span><span
                class="product">Abfallsäcke 35L</span>gemeldet von <span class="reportedBy">David Wiedmer</span>um
            <span class="reportedDate">22.9.2014 10:15:41</span>gekauft von <span class="reportedBy text-success">Sebastian Häni</span>um
            <span class="reportedDate">6.10.2014 18:35:50</span></div>
        <!--Ende Beispieldaten -->
    </div>
</div>
