{% extends "app/shoppinglist/layout.html" %}

{% block title %}
    {% set page = parent() %}
    {% set app_name = block('app_name') %}
    {% trans %}History - {{ app_name }} - {{ page }}{% endtrans %}
{% endblock %}

{% block content %}
{% include "app/shoppinglist/dialogs/_clear-history.html" %}

<div class="container">
    <div class="row">
    
        <div id="transaction-history" class="col-md-12" ng-controller="ShoppinglistHistoryController">
            <div class="text-center administrator">
                <button type="button" class="btn btn-danger community-admin" data-toggle="modal" data-target="#clear-history-dialog">{% trans "Clear History" %}</button>
                <div class="list top-buffer">     
                    
                    <div class="item-history item" ng-repeat="transaction in transactions" data-id="{[{ transaction.id }]}">
                        <span class="amount">{[{ transaction.amount }]}</span> 
                        <span class="product">{[{ transaction.product.name }]}</span>
                        {% trans "reported by" %}
                        <span class="reportedBy">{[{ transaction.reporter.name }]}</span>
                        {% trans "at" %}
                        <span class="reportedDate">{[{ transaction.reportedDate | amDateFormat: 'l' }]}</span>
                        
                        <span ng-if="transaction.cancelled == 0">{% trans "bought by" %}</span>
                        <span ng-if="transaction.cancelled != 0">{% trans "cancelled by" %}</span>
                        <span ng-if="transaction.cancelled == 0" class="reportedBy text-success">{[{ transaction.buyer.name }]}</span>
                        <span ng-if="transaction.cancelled != 0" class="reportedBy text-danger">{[{ transaction.canceller.name }]}</span>
                        {% trans "at" %}
                        <span class="reportedDate">{[{ transaction.closeDate | amDateFormat: 'l' }]}</span>
                        
                    </div>
                
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
