{% extends "app/shoppinglist/layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
    
        <div id="history" class="col-md-12">
            <div class="text-center administrator">
                <button type="button" class="btn btn-danger" id="button-clear-history">{% trans "Clear History" %}</button>
                <div class="list top-buffer">     
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="/bower_components/moment/min/moment-with-locales.min.js"></script>
<script src="/media/js/app/shoppinglist/history.js"></script>
{% endblock %}