{% extends "app/shoppinglist/layout.html" %}

{% block title %}
    {% set page = parent() %}
    {% set app_name = block('app_name') %}
    {% trans %}{{ app_name }} - {{ page }}{% endtrans %}
{% endblock %}

{% block content %}
{% include "app/shoppinglist/dialogs/_add-article.html" %}
{% include "app/shoppinglist/dialogs/_edit-transaction.html" %}
{% include "app/shoppinglist/dialogs/_barcode.html" %}

<div class="swipe-instructions-background">
    <div class="cart"><span class="glyphicon glyphicon-shopping-cart"></span></div>
    <div class="trash"><span class="glyphicon glyphicon-trash"></span></div>
</div>

<div class="container">
    <div class="row">

        <div id="shoppinglist" class="col-md-12">
            <div class="text-center">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#add-article">{% trans "Add Article" %}</button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#barcode-scanner">{% trans "Barcode" %}</button>
            </div>
            <div class="top-buffer">
                <div class="list"></div>
            </div>
            <div class="top-buffer">
                <div class="swipe-instructions col-md-8 col-md-offset-2">
                    <div><span class="glyphicon glyphicon-arrow-left"></span> <span class="glyphicon glyphicon-shopping-cart"></span> {% trans "Buy" %}</div>
                    <div>{% trans "Delete" %} <span class="glyphicon glyphicon-trash"></span> <span class="glyphicon glyphicon-arrow-right"></span></div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
