{% extends "app/shoppinglist/layout.html" %}

{% block title %}
    {% set page = parent() %}
    {% set app_name = block('app_name') %}
    {% trans %}Products - {{ app_name }} - {{ page }}{% endtrans %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row top-buffer" id="product-list" ng-controller="ShoppinglistProductController">
        <div class="list list-sm col-md-8 col-md-offset-2">
        
            <div class="input-group item" ng-repeat="product in products" data-id="{[{ product.id }]}">
                <span class="input-group-addon" title="{% trans "In suggestions" %}">
                    <input type="checkbox" class="notifiaction-flag" ng-checked="product.inSuggestions == '1'">
                </span>
                <span class="form-control">{[{ product.name }]}</span>
                <span class="input-group-addon">
                    <button type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
