{% extends "app/shoppinglist/layout.html" %} 

{% block title %} 
    {% set page = parent() %} 
    {% set app_name = block('app_name') %} 
    {% trans %}Products - {{ app_name }} - {{ page }}{% endtrans %} 
{% endblock %} 

{% block content %} 

{% include "app/shoppinglist/dialogs/_delete-product.html" %}
{% include "app/shoppinglist/dialogs/_edit-product.html" %}
{% include "app/shoppinglist/dialogs/_new-product.html" %}

<div class="container">
	<div class="row text-center">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#new-product-dialog">{% trans "New Product" %}</button>
    </div>
    
    <div class="row top-buffer" id="product-list" ng-controller="ShoppinglistProductController">
        
        <div class="list list-sm col-md-8 col-md-offset-2">
			
            <div class="input-group item" ng-repeat="product in products" data-id="{[{ product.id }]}">
            
                <span class="input-group-addon" title="{% trans "In suggestions" %}">
                    <input type="checkbox" ng-checked="product.inSuggestions == '1'" ng-click="toggleInSuggestions(product)">
                </span>
                
                <span class="form-control product-name">{[{ product.name }]}</span>
                
                <span class="input-group-addon">
                    <button type="button" class="btn btn-default btn-xs" ng-click="showEditDialog(product)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs btn-danger delete-product" ng-click="showDeleteDialog(product)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            
            </div>

        </div>
    </div>
</div>
{% endblock %}
