{% extends "app/shoppinglist/layout.html" %}

{% block content %}
<div class="container">
    <div class="row">

        <div id="productlist" class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Aktiv</th>
                    <th class="col-md-12">Artikel</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <!-- Start Beispieldaten -->
                    <tr data-id="1">
                        <td><input type="checkbox"></td>
                        <td>Abfallsäcke 35L</td>
                        <td class="text-right">
                            <button type="button" class="btn btn-danger remove"><span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                    <tr data-id="2">
                        <td><input type="checkbox"></td>
                        <td>Acetto Balsamico</td>
                        <td class="text-right">
                            <button type="button" class="btn btn-danger remove"><span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                    <tr data-id="3">
                        <td><input type="checkbox"></td>
                        <td>Alufolie</td>
                        <td class="text-right">
                            <button type="button" class="btn btn-danger remove"><span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                    <!-- Ende Beispieldaten -->
            
                </tbody>
            </table>
        </div>
        
    </div>
</div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="/media/js/app/shoppinglist/products.js"></script>
{% endblock %}