{% extends "app/layout.html" %}

{% block app_navigation %}
{% include "app/shoppinglist/_navigation.html" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        <div id="statslist">
            <div class="panel panel-default">
                <div class="panel-heading">Anzahl Käufe</div>
                <canvas id="buyerChart" style="width: 100%;"></canvas>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Anzahl Bestellungen</div>
                <canvas id="reporterChart" style="width: 100%;"></canvas>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="/media/js/app/shoppinglist/statistics.js"></script>
{% endblock %}