{% extends "app/shoppinglist/layout.html" %}

{% block title %}
    {% set page = parent() %}
    {% set app_name = block('app_name') %}
    {% trans %}Statistics - {{ app_name }} - {{ page }}{% endtrans %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        <div id="statslist" class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Purchase count" %}</div>
                <canvas id="buyerChart" style="width: 100%;"></canvas>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Order count" %}</div>
                <canvas id="reporterChart" style="width: 100%;"></canvas>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="/bower_components/chart.js/Chart.min.js"></script>
<script src="/media/js/app/shoppinglist/statistics.js"></script>
{% endblock %}