{% include "app/communities/_edit-dialog.html" %}
{% include "app/communities/_delete-dialog.html" %}

<div class="row hide" id="edit-communities">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Notifications</th>
                    <th class="col-xs-12">Community</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>