{% extends "app/layout.html" %}

{% block title%}Communities - {{ parent() }}{% endblock %}
{% block content %}
<div class="container">
    
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Communities</h1>
            <div class="btn-group" data-toggle="buttons" id="community-mode-switch">
                <label class="btn btn-default active">
                    <input type="radio" name="options" id="btn-select-community" checked> Select
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="options" id="btn-edit-community"> Edit
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="options" id="btn-create-community"> New
                </label>
            </div>
        </div>
    </div>
    
    {% include "app/communities/_select.html" %}
    {% include "app/communities/_edit.html" %}
    {% include "app/communities/_new.html" %}
    
</div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="/media/js/app/community/community.js"></script>
{% endblock %}
