{% extends "app/layout.html" %}

{% block title %}
    {% set page = parent() %}
    {% trans %}Communities - {{ page }}{% endtrans %}
{% endblock %}

{% block content %}
<div class="container">
    
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>{% trans "Communities" %}</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12 text-center">
            <button id="new-community-btn" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> {% trans "Create Community" %}</button>
        </div>
    </div>
    
    <div class="row top-buffer" id="community-list">
        <div class="list col-md-8 col-md-offset-2">
        </div>
    </div>

    {% include "app/communities/_new-dialog.html" %}
    {% include "app/communities/_edit-dialog.html" %}
    {% include "app/communities/_delete-dialog.html" %}
    
</div>
{% endblock %}
