<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Shopping List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../media/css/app.css" rel="stylesheet">
</head>
<body>

{% include "app/navigation.html" %}
{% include "app/change-password.html" %}

<div class="container">
    <div class="row">

        <div id="shoppinglist">
            {% include "app/shoppinglist.html" %}
        </div>

        <div id="transactionlist" style="display: none;">
            {% include "app/transactionlist.html" %}
        </div>

        <div id="statslist" style="display: none;">
            {% include "app/statslist.html" %}
        </div>

        <div id="productlist" style="display: none;">
            {% include "app/productlist.html" %}
        </div>
    </div>
</div>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bower_components/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
<script src="../bower_components/jquery.cookie/jquery.cookie.js"></script>
<script src="../media/js/shoppinglist.js"></script>
<script src="../media/js/history.js"></script>
<script src="../media/js/stats.js"></script>
<script src="../media/js/products.js"></script>
<script src="../media/js/user.js"></script>
<script src="../media/js/app.js"></script>
</body>
</html>