{% extends "layout.html" %}

{% block title%}Communities - {{ parent() }}{% endblock %}
{% block content %}
<div class="container">
	
	<div class="row">
		<div class="col-md-12 text-center">
			<button class="btn btn-lg btn-primary">Create community</button>
            <button class="btn btn-toggle">Edit</button>
		</div>
	</div>
	
	<div class="row">
		<table class="table table-striped" id="community-edit">
		    <thead>
			    <tr>
			        <th>Notifications</th>
			        <th class="col-xs-12">Community</th>
			        <th></th>
			        <th></th>
			    </tr>
		    </thead>
		    <tbody>
			    <tr data-id="1" class="product">
			        <td><input type="checkbox" class="product-in-suggestions"></td>
			        <td>Abfallsäcke 35L</td>
			        <td class="text-right">
			            <button type="button" class="btn edit"><span class="glyphicon glyphicon-pencil"></span></button>
			        </td>
			        <td class="text-right">
			            <button type="button" class="btn btn-danger remove"><span class="glyphicon glyphicon-remove"></span></button>
			        </td>
			    </tr>
		    </tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="media/js/app.js"></script>
<script src="media/js/community.js"></script>
{% endblock %}