<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}Shopping List{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="media/css/app.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#einkauf-navbar">
                <span class="sr-only">Navigation ein-/ausblenden</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ config['site_url'] }}">Shopping List</a>
        </div>

        <div class="collapse navbar-collapse" id="einkauf-navbar">
            <ul class="nav navbar-nav">
                <li class="{% if page == 'home' %}active{% endif %}"><a href="{{ config['site_url'] }}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li class="{% if page == 'getstarted' %}active{% endif %}"><a href="{{ config['site_url'] }}getstarted"><span class="glyphicon glyphicon-play"></span> Get Started</a></li>
                <li class="{% if page == 'developers' %}active{% endif %}"><a href="{{ config['site_url'] }}developers"><span class="glyphicon glyphicon-cog"></span> Developers</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="{% if page == 'signup' %}active{% endif %}"><a href="{{ config['site_url'] }}signup"><span class="glyphicon glyphicon-ok-sign"></span> Sign Up</a></li>
                <li class="{% if page == 'signin' %}active{% endif %}"><a href="{{ config['site_url'] }}signin"><span class="glyphicon glyphicon-user"></span> Sign In</a></li>
            </ul>
        </div>
    </div>
</nav>
{% block content %}{% endblock %}

{% block javascript %}
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
<script src="bower_components/jquery.cookie/jquery.cookie.js"></script>
<script src="media/js/home.js"></script>
{% endblock %}
</body>
</html>