.list {
    overflow: hidden;
    
    &.list-sm .item {
    	.title {
    		font-size: 1em;
    	}
    	input[type=checkbox] {
    		width: 12px;
    		height: 12px;
    	}
    }
    
    .item {
        text-align: left;
        margin-bottom: 1.5em;
        border-radius: 5px;
        overflow: hidden;
		border: 1px solid #cdcdcd;
		animation: item-drop-in .3s;
        
        & > * {
            background: none;
            border: none;
            box-shadow: none;
        }
        
        & > .input-group-addon {
        	background-color: #ededed;
        }
        
        .title {
            font-size: 1.7em;
            margin: 0;
            height: 100%;
        }
        
        input[type=checkbox] {
        	width: 20px;
        	height: 20px;
        }
        
        .glyphicon-envelope {
        	top: -3px;
        }
        
        &.clickable {
            transition: background-color 0.2s ease, box-shadow 0.2s ease;
            
            .title {
            	cursor: pointer;
            }
            &:hover {
                background-color: #ededed;
            }
            &:active {
                box-shadow: inset 0 6px 10px rgba(0, 0, 0, 0.125);
            }
        }
    }
}


@keyframes item-drop-in {
    from {
    	top: -20px;
    	opacity: 0;
    }
    to {
		top: 0;
		opacity: 1;
	}
}