
.transaction {
    touch-action: cross-slide-x;
    height: 36px;
    background-color: rgba(255, 255, 255, .5);
    
    &.buyed {
        &.closed {
            @include animation(item-drop-out-left .3s forwards);
        }
        background-color: rgb(92, 184, 92);
    }

    &.cancelled {
        &.closed {
            @include animation(item-drop-out-right .3s forwards);
        }
        background-color: rgb(217, 83, 79);
    }
    
    .product {
        display: block;
        float: left;
        font-weight: bold;
        margin-right: 10px;
        line-height: 35px;
    }

    .amount {
        margin: 0 10px;
        display: block;
        float: left;
        line-height: 35px;
        &:after {
            content: 'x';
        }
    }
    
    .details {
        margin: 10px;
        clear: both;
    }
    
    &.active {
        height: 80px;
    }

    .reportedDate {
        font-size: 0.8em;
        white-space: nowrap;
        line-height: 35px;
        margin-right: 10px;
    }

    .reportedBy {
        white-space: nowrap;
        margin-right: 10px;
        line-height: 35px;
    }

}

#transactionlist .transaction span {
    white-space: normal;
    line-height: inherit;
    margin: 0 6px 0 0;
}

#transactionlist .reportedBy {
    font-weight: bold;
}

.swipe-instructions-background {
	width: 100%; 
	overflow: hidden;
	position: absolute; 
	height: 400px;
	left: 0;
	
	.cart, .trash {
		position: absolute;
        height: 200px;
        width: 200px;
        font-size: 200px;
        opacity: .2;
	}
	
	.cart {
        left: -100px;
	}
	
	.trash {
		right: -100px;
	}
}

.swipe-instructions {
    opacity: 0.8;
    font-size: 1.2em;
    padding-bottom: 20px;
    div {
        &:first-child {
            float: left;
        }

        &:last-child {
            float: right;
        }
    }
}
