$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../../bower_components/font-awesome/fonts/";

$navbar-inverse-bg: #124dab;
$brand-primary: #4671d5;
$navbar-inverse-link-color: #dadada;
