<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul>
                <li>
                    <a class="navbar-brand" data-toggle="dropdown" id="community-name">
                        {% if app_name is not empty %}{{ app_name }}{% else %}{{ config['product_name'] }}{% endif %}  
                        <b class="caret {% if page starts with 'app/communities' %}hide{% endif %}"></b>
                    </a>
                    <ul class="dropdown-menu {% if page starts with 'app/communities' %}hide{% endif %}" role="menu" id="app-switcher">
                        <li class="{% if page starts with 'app/shoppinglist' %}active{% endif %}"><a href="/app/shoppinglist">{% trans "Shopping List" %}</a></li>
                        <li class="{% if page starts with 'app/bills' %}active{% endif %}"><a href="/app/bills">{% trans "Bills" %}</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="site-navbar">
            <ul class="nav navbar-nav">
                {% if app_navigation is not empty %}{{ app_navigation|raw }}{% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <span id="username">{% trans "Anonymous" %}</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-toggle="modal" data-target="#settings"><span class="glyphicon glyphicon-wrench"></span> {% trans "Settings" %}</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#change-password"><span class="glyphicon glyphicon-pencil"></span> {% trans "Change Password" %}</a></li>
                        <li class="divider"></li>
                        <li><a href="/app"><span class="glyphicon glyphicon-refresh"></span> {% trans "Change Community" %}</a></li>
                        <li class="divider"></li>
                        <li><a href="#" id="logout"><span class="glyphicon glyphicon-log-out"></span> {% trans "Sign Out" %}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
