<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}{{ config['product_name'] }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/media/css/app.css" rel="stylesheet">
    <link rel="manifest" href="/media/manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name=”theme-color” content=”#ffffff″>
    <link rel="apple-touch-startup-image" href="/media/img/logo2buy192.png">
    <link rel=”icon”  type="image/png" sizes=”192×192″ href=”/media/img/logo2buy192.png”>
    {% endblock %}
</head>
<body>

{% include "app/_navigation.html" with {app_navigation: block('app_navigation'), app_name: block('app_name')} %}
{% include "app/_change-password.html" %}
{% include "app/_settings.html" %}

{% block content %}{% endblock %}

{% include 'app/_footer.html' %}

{% block javascript %}
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="/bower_components/jquery-ui/ui/minified/core.min.js"></script>
<script src="/bower_components/jquery-ui/ui/minified/widget.min.js"></script>
<script src="/bower_components/jquery-ui/ui/minified/mouse.min.js"></script>
<script src="/bower_components/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
<script src="/bower_components/jquery.cookie/jquery.cookie.js"></script>
<script src="/media/js/app/app.js"></script>
<script src="/media/js/app/user.js"></script>
<script src="/media/js/change-language.js"></script>
{% endblock %}
</body>
</html>