<!DOCTYPE html>
<html>
<head>
{% block head %}
<meta charset="utf-8">
<title>{% block title %}{{ config['product_name'] }}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link href="/media/css/app.css" rel="stylesheet">
{% endblock %}
</head>
<body>

{% include "app/_navigation.html" with {app_navigation: block('app_navigation'), app_name: block('app_name')} %}
{% include "app/_change-password.html" %}
{% include "app/_settings.html" %}

{% block content %}{% endblock %}

{% include 'app/_footer.html' %}

{% block javascript %}
<script src="/media/js/dist/app.min.js"></script>
{% endblock %}
</body>
</html>