<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}{{ config['product_name'] }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#0f3e8b">
    <link href="/media/css/app.css" rel="stylesheet">
    <link rel="manifest" href="/media/manifest.json">
    <link rel="apple-touch-startup-image" href="/media/img/logo2buy192.png">
    <link rel="icon" type="image/png" sizes="192×192" href="/media/img/logo2buy192.png">
    {% endblock %}
</head>
<body>

{% include "app/_navigation.html" with {app_navigation: block('app_navigation'), app_name: block('app_name')} %}
{% include "app/_change-password.html" %}
{% include "app/_settings.html" %}

{% block content %}{% endblock %}

{% include 'app/_footer.html' %}

{% block javascript %}
<script src="/media/js/dist/app.min.js"></script>
{% endblock %}
</body>
</html>
