<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#einkauf-navbar">
                <span class="sr-only">Navigation ein-/ausblenden</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Shopping List</a>
        </div>

        <div class="collapse navbar-collapse" id="einkauf-navbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#shoppinglist" id="shopping"><span class="glyphicon glyphicon-shopping-cart"></span> Einkaufsliste</a></li>
                <li><a href="#history" id="history"><span class="glyphicon glyphicon-list"></span> Verlauf</a></li>
                <li><a href="#stats" id="stats"><span class="glyphicon glyphicon-stats"></span> Statistik</a></li>
                <li class="administrator"><a href="#products" id="products"><span class="glyphicon glyphicon-th-list"></span> Artikel</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <span id="username">Anonymous</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-toggle="modal" data-target="#settings"><span class="glyphicon glyphicon-wrench"></span> Einstellungen</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#change-password"><span class="glyphicon glyphicon-pencil"></span> Change Password</a></li>
                        <li class="divider"></li>
                        <li><a href="#" id="logout"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
