<div id="productlist">
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="col-md-1">Aktiv</th>
            <th>Artikel</th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        <!-- Start Beispieldaten -->
        <tr data-id="1" class="product">
            <td><input type="checkbox" class="product-in-suggestions" checked=""></td>
            <td>Abfallsäcke 35L</td>
            <td class="text-right">
                <button type="button" class="btn btn-danger remove"><span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
        <tr data-id="2" class="product">
            <td><input type="checkbox" class="product-in-suggestions" checked=""></td>
            <td>Acetto Balsamico</td>
            <td class="text-right">
                <button type="button" class="btn btn-danger remove"><span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
        <tr data-id="3" class="product">
            <td><input type="checkbox" class="product-in-suggestions" checked=""></td>
            <td>Alufolie</td>
            <td class="text-right">
                <button type="button" class="btn btn-danger remove"><span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
        <!-- Ende Beispieldaten -->

        </tbody>
    </table>
</div>